<section>
  <h1>Login</h1>

  <div class="email">
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email" />
  </div>

  <div>
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
    />
  </div>
  <div>
    <button type="button">Login</button>
  </div>
  <span
    >First visit to Netflux?<a
      href="/166-cz$r&e&g&i&s&t&e&r&56+cegr"
      title="Go to register form"
      >Register
    </a></span
  >
</section>
